body {
    /*background-color: #669999;*/
}
a {
    color: #0000EE;
    text-decoration: none;
    background-color: transparent;
}
.container {
    /*background-color: #0E566C;*/
}
#toolbar {
    width: 100%;
    text-align: right;
}
#health {
    display: inline-block;
    margin-right: 65px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
    color: #fff;
    background-color: #1D3B4A;
    border-color: #1D3B4A;
}
.btn-success {
    color: #1D3B4A;
    background-color: #f5b810;
    border-color: #f5b810;
}
.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #f2cc61;
    border-color: #f2cc61;
}
.bg-primary {
    background-color: #1388a3!important;
}

.bg-secondary {
    background-color: #07344A!important;
}
.btn-primary {
    color: #fff;
    background-color: #1D3B4A;
    border-color: #1D3B4A;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0E6996;
    border-color: #0E6996;
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
}

#log {
    min-width: 100%;
    min-height: 100%;
    background: #ffd;
    border: 1px solid orange;
    padding: 1em;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
    line-height: 1.25;
}
.tooltip-inner {
    max-width: 350px;
}
.fa-question-circle:hover {
    color: red;
}
#test-login-success {
	color: green;
}
.jumbotron {
    padding-top: 1em;
    padding-right: inherit;
    padding-left: inherit;
    padding-bottom: 1em;
}
/*.tabulator-tableHolder {*/
    /*background-color: #c5c5c5;*/
    /*color: #666666;*/
    /*font-style: italic;*/
/*}*/
.wrapper{
    width:70%;
}
@media(max-width:992px){
    .wrapper{
        width:100%;
    }
}
.panel-heading {
    padding: 0;
    border:0;
    color: #07344A;
    background-color: #07344A;
}
.panel-title>a, .panel-title>a:active{
    display:block;
    padding:10px;
    color:#ffffff;
    background-color: #1D3B4A;
    font-size:16px;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:1px;
    word-spacing:3px;
    text-decoration:none;
}
.panel-heading  a:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
    float: right;
    transition: all 0.5s;
}
.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}
.ms-container{
    width: 100%;
}
.select-text{
    font-size: 14px;
}
#collapseOne{
    /*background-color: #343a40;*/
    padding-top: 10px;
    padding-bottom: 10px;
}
#tabulator-controls-row{
    padding-top: 50px;
    padding-bottom: 10px;
}
#tabulator-row{
    padding-bottom: 10px;
}
.tabulator-cell[tabulator-field="select"]{
    text-align: center;
}
#select-all{
    text-align: left;
}
#deselect-all{
    float: right;
}
#radio-hash{
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.btn-unzip {
    font-size: 12px;
    text-align: center;
    margin: auto;
    width: 32px;
    height: 19px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
}


.card {
    display: flex;
    justify-content: center;
    height: 40px;
    background: #f8f9fa;
    margin-left: 4px;
}
.card-block {
    margin-left: 4px;
    margin-right: 4px;
}

 /* Callout box - fixed position at the bottom of the page */
.callout {
  position: fixed;
  z-index: 999;
  top: 50px;
  right: -400px;
  margin-left: 0px;
  max-width: 400px;
  vertical-align: middle;
}

/* Callout header */
.callout-header {
  padding: 3px;
  background: #555;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

/* Callout container/body */
.callout-container {
  padding: 10px 10px;
  background-color: #ffffff;
  color: black;
  border-style: solid;
  border-width: 1px;
}

.callout-container p {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* Close button */
.closebtn {
  position: absolute;
  top: 0px;
  right: 15px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* Change color on mouse-over */
.closebtn:hover {
  color: lightgrey;
}

@keyframes diving-rotate {
	0% {
         transform:rotate(0deg) translateY(-4px);
	}
	10% {
         transform:rotate(8deg) translateY(0px);
	}
    40% {
         transform:rotate(4deg) translateY(4px);
	}
	50% {
         transform: rotate(0deg) translateY(5px);
	}
	60% {
         transform:rotate(-4deg) translateY(2px);
	}
    90% {
        transform:rotate(-8deg) translateY(-2px);
	}
    100% {
        transform:rotate(-2deg) translateY(-4px);
	}
}

#submarine_img {
  width: 40px;
  height: auto;
  animation: diving 1.5s ease-in-out infinite, diving-rotate 1.5s ease-in-out infinite;
}

.select-cell {
  text-align: center;
}

#download-selection {
    line-height: 1.0;
    width: 144px;
}

#zip_contents {
    margin-left: 4px;
    font-size: 14px;
}

.ms-selection, ms-selectable {
  border: 1px solid transparent;
}

.invalid_input {
  border: 1px solid rgb(239, 86, 86);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(236, 82, 82, 0.6);
}

.disabled {
    pointer-events: none;
}

#os-username input[disabled] {
    color: #DCDAD1;
    padding: 2px;
    margin: 0 0 0 0;
    background-image: none;
}

#test-login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

#test-login-btn, #edit-login-btn {
    width: 50px;
}

#test-login-error-msg {
    color: red;
}

#info-tooltip {
    font-size: 14px;
    padding-left: 6px;
}

#login_error, #lang_error, #page_error, #download_error {
    color: red;
}

.fa-exclamation-circle:before {
    color: red;
}

.black {
    color: black;
}
