<!doctype html>
<html lang="en">
    <head>
        <title>UBoat</title>

        <!-- Required meta tags -->

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--Static content -->

        {% load static %}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
        <link href="{% static '/search/js/tabulator-tables/dist/css/tabulator.css' %}" rel="stylesheet">
        <link href="{% static 'search/js/jquery/multiselect/css/multi-select.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '/search/css/search.css' %}" rel="stylesheet" type="text/css">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" defer></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" defer></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" defer></script>
        <script type="text/javascript" src="{% static 'search/js/jquery/multiselect/js/jquery.multi-select.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'search/js/jquery/jquery.cookie.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'search/js/tabulator-tables/dist/js/tabulator.min.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'search/js/search.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'search/js/zip/zip.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'search/js/zip/zip-ext.js' %}" defer></script>
        <!--<script type="text/javascript" src="{% static 'search/js/zip/z-worker.js' %}" defer></script>-->
        <!--<script type="text/javascript" src="{% static 'search/js/search.jquery.js' %}" defer></script>-->
    </head>
    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h3 class="display-3">UBoat</h3>
                <h3>Subtitle retriever</h3>
            </div>
            <div id="title" class="row">
            </div>
            <div class="row align-middle">
                <div class="col-md"></div>
                <div class="col-md-8 pb-5 text-center">
                    <i class='fas fa-info-circle' style='font-size:16px' data-toggle="popover" tabindex="0"
                       data-trigger="focus" data-placement="left" title="Don't worry"
                       data-content="You will not be uploading any files to our servers. You will
                                     simply be selecting files so we can extract some info (client-side) to use to
                                     retrieve your subtitles."></i>
                    <span class="btn btn-primary btn-file">Choose files<input class="select" id="file" type="file" multiple></span>
                    <b>or</b>
                    <span class="btn btn-primary btn-file" data-toggle="tooltip" data-placement="top" title="Only works in some browsers">Choose folder<input class="select" type="file" webkitdirectory></span>
                </div>
                <div class="col-md"></div>
            </div>
            <div class="row">
                <div class="col-md text-center">
                    <div class="panel-group text-left" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading active" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Search configuration
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse show text-center bg-light" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="container">
                                        <form id="search-config-form">
                                            {% csrf_token %}
                                            <div class="form-row">
                                                <div class="col-md-4 text-center">
                                                    <div class="text-left">
                                                        <p class="font-weight-bold">Select languages</p>
                                                        <div>
                                                            <span><a href='#' class="select-text" id='select-all'>Select all</a><a href='#' class="select-text" id='deselect-all'>Deselect all</a></span>
                                                            <div style="clear: both;"></div>
                                                        </div>
                                                        <div class="text-center">
                                                            <select id="language-select" multiple="multiple">
                                                                <option value="eng" selected="selected">English</option>
                                                                <option value="spa">Spanish</option>
                                                                <option value="dut">Dutch</option>
                                                                <option value="4">Albanian</option>
                                                                <option value="5">German</option>
                                                                <option value="6">Klingon</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                                <option value="13">13</option>
                                                                <option value="14">14</option>
                                                                <option value="15">15</option>
                                                                <option value="16">16</option>
                                                                <option value="17">17</option>
                                                                <option value="18">18</option>
                                                                <option value="19">19</option>
                                                                <option value="20">20</option>
                                                                <option value="21">21</option>
                                                                <option value="22">22</option>
                                                                <option value="23">23</option>
                                                                <option value="24">24</option>
                                                                <option value="25">25</option>
                                                                <option value="26">26</option>
                                                                <option value="27">27</option>
                                                                <option value="28">28</option>
                                                                <option value="29">29</option>
                                                                <option value="30">30</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div id="search-method-row" class="form-row">
                                                        <div class="col-md-2"></div>
                                                        <div class="col-md-8 text-left">
                                                            <p class="font-weight-bold">Search method</p>
                                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                                <label id="radio-hash" class="btn btn-primary btn-sm active">
                                                                    <input type="radio" name="search-method" autocomplete="off" value="hash" checked> Hash
                                                                </label>
                                                                <label id="radio-file" class="btn btn-primary btn-sm">
                                                                    <input type="radio" name="search-method" autocomplete="off" value="filename"> Filename
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 text-right">
                                                     <div class="row h-100 align-items-end">
                                                        <div class="col-md-12">
                                                            <input class="btn btn-success" type="submit" value="Fetch subtitles" data-toggle="collapse" data-target="#collapseOne">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div id="tabulator-controls-row" class="row">
                <div class="col-md"></div>
                <div class="col-md-10 text-center">
                    <div class="card">
                      <div class="card-body">
                          <span><a href="#" id="expand-all">Expand all</a></span> - <span><a href="#" id="collapse-all">Collapse all</a></span>
                      </div>
                    </div>
                </div>
                <div class="col-md"></div>
            </div>
            <div id="tabulator-row" class="row">
                <div class="col-md"></div>
                <div class="col-md-10 text-center">
                    <div id="subtitle-table"></div>
                    <div id='logs'></div>
                </div>
                <div class="col-md"></div>
            </div>
        </div>
    </body>
</html>