<!DOCTYPE html>
<html lang="en">

<head>

  <title>U-Boat - Download subtitles online</title>
  <meta charset="utf-8">
  <!--<meta content="width=device-width, initial-scale=0.8, shrink-to-fit=no" name="viewport">-->
  <meta name="Description" content="U-Boat is a free online application to automatically search and download subtitles from OpenSubtitles. No installation required. Simply select the movies and series on disk.">

  {% load static %}

  <!--Website Freelancer Template -->
  <!-- Vendor JavaScript -->
  <script defer src="{% static '/sink/vendor/freelance_template/vendor/jquery/jquery.min.js' %}"></script>
  <script defer src="{% static '/sink/vendor/freelance_template/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script defer src="{% static '/sink/vendor/freelance_template/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contact Form JavaScript -->
  <script defer src="{% static '/sink/vendor/freelance_template/js/jqBootstrapValidation.min.js' %}"></script>
  <script defer src="{% static '/sink/vendor/freelance_template/js/contact_me.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script defer src="{% static '/sink/vendor/freelance_template/js/freelancer.min.js' %}"></script>
  <script crossorigin="anonymous" defer integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

  <!-- Custom fonts for this theme -->
  <link href="{% static '/sink/vendor/freelance_template/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- CSS -->
  <link href="{% static '/sink/vendor/freelance_template/css/freelancer.min.css' %}" rel="stylesheet">
  <link href="{% static '/sink/vendor/js/tabulator-tables-4.4/css/tabulator_simple_custom.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static '/sink/vendor/js/jquery/multiselect/css/multi-select.dist.css' %}" rel="stylesheet" type="text/css">

  <link href="{% static '/sink/css/sink.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static '/sink/css/led/led.min.css' %}" rel="stylesheet" type="text/css">

  <!-- JS -->
  <script defer src="{% static 'sink/vendor/js/jquery/multiselect/js/jquery.multi-select.js' %}" type="application/javascript"></script>
  <script defer src="{% static 'sink/vendor/js/jquery/jquery.cookie.js' %}" type="application/javascript"></script>
  <script defer src="{% static 'sink/vendor/js/tabulator-tables-4.4/js/tabulator.min.js' %}" type="application/javascript"></script>
  <script defer src="{% static 'sink/vendor/js/zip/zip.js' %}" type="application/javascript"></script>
  <script defer src="{% static 'sink/vendor/js/zip/zip-ext.js' %}" type="application/javascript"></script>
  <!--<script type="application/javascript" src="{% static 'sink/vendor/js/zip/zip-worker.js' %}" defer></script>-->
  <script defer src="{% static 'sink/vendor/js/zip/deflate.js' %}" type="application/javascript"></script>
  <script defer src="{% static 'sink/vendor/js/zip/inflate.js' %}" type="application/javascript"></script>
  <script defer src="{% static 'sink/vendor/js/popper/popper.min.js' %}" type="application/javascript"></script>
  <script defer src="{% static 'sink/vendor/js/tippy/tippy.js' %}" type="application/javascript"></script>

  <script defer src="{% static 'sink/js/sink.min.js' %}" type="application/javascript"></script>
  <script defer src="{% static 'sink/js/subtitles.min.js' %}" type="application/javascript"></script>
  <script defer src="{% static 'sink/js/hash.min.js' %}" type="application/javascript"></script>
  <script defer src="{% static 'sink/js/unzip.min.js' %}" type="application/javascript"></script>

  <link href="{% static '/sink/img/submarine-icon-4.png' %}" rel="shortcut icon" type="image/png" /
</head>

<body id="page-top">
  <img id="logo" src="{% static '/sink/img/uboat-logo-plain.png' %}">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container-fluid">
      <row>
        <div class="col-md12">
        </div>
      </row>
      <div class="row">
        <div class="col-md-2">
          <div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div id="page-title" class="col-md-8">
              <a class="navbar-brand js-scroll-trigger" href="#page-top">U-Boat Subtitle Retriever <span id="beta">Beta</span></a>
                <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" data-target="#navbarResponsive" data-toggle="collapse" type="button">
                Menu
                <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="col-md-4">
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
                  </li>
                  <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Credits</a>
                  </li>
                  <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2" id="ledbox-column">
          <div class="container-fluid" id="os-health-container">
            <div class=”row”>
              <div class=”col-md-12”>
                <div class="led-box">
                  <div class="led-green" id="os-health"></div>
                  <div class="led-text"><a href="https://downforeveryoneorjustme.com/api.opensubtitles.org" target="_blank">OpenSubtitles.org</a></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="callout">
                <div class="callout-header">Uh-oh</div>
                <!--<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>-->
                <div class="callout-container">
                  <p>We have trouble reaching OpenSubtitles.org. It could be us, you or them. Click the link to see what's up.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- Masthead -->
  <header class="masthead bg-primary text-center">
    <div class="container">
      <!-- d-flex align-items-center flex-column -->
      <div class="row" id="title"></div>
      <div class="row align-middle">
        <div class="col-md"></div>
        <div class="col-md-8 pb-5 text-center">
          <i class='fas fa-info-circle' id="tooltip" style='font-size:16px'></i>
          <span class="btn btn-primary btn-file" id="choose-titles-btn">Choose titles<input class="select" id="file" multiple type="file"></span>
          <!--<b>or</b>-->
          <span class="btn btn-primary btn-file" hidden id="start-over-btn">Start over</span>
        </div>
        <div class="col-md"></div>
      </div>
      <div class="row">
        <div class="col-md text-center">
          <div aria-multiselectable="true" class="panel-group text-left" id="accordion" role="tablist">
            <div class="panel panel-default">
              <div class="panel-heading active" id="headingOne" role="tab">
                <h4 class="panel-title">
                <a aria-controls="collapseOne" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#collapseOne" role="button">
                    Search configuration
                </a>
            </h4>
              </div>
              <div aria-labelledby="headingOne" class="panel-collapse collapse show text-center bg-light" id="collapseOne" role="tabpanel">
                <div class="panel-body">
                  <div class="container">
                    <form id="search-config-form">
                      {% csrf_token %}
                      <div class="form-row">
                        <div class="col-md-4 text-center">
                          <div class="text-left">
                            <p class="font-weight-bold">Select languages</p>
                            <div>
                              <!--<span><a class="select-text" href='#' id='select-all'>Select all</a><a class="select-text" href='#' id='deselect-all'>Deselect all</a></span>-->
                              <div style="clear: both;"></div>
                            </div>
                            <div class="text-center">
                              <select id="language-select" multiple="multiple">
                                  {% for key,value in languages.items %}
                                      {% if value.1 == '1' %}
                                          <option selected="selected" value="{{ key }}">{{ value.0 }}</option>
                                      {% else %}
                                          <option value="{{ key }}">{{ value.0 }}</option>
                                      {% endif %}
                                  {% endfor %}
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-row" id="search-method-row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8 text-left">
                              <p class="font-weight-bold">Search method</p>
                              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-primary btn-sm active" id="radio-hash">
                                                  <input autocomplete="off" checked name="search-method" type="radio" value="hash"> Hash
                                              </label>
                                <label class="btn btn-primary btn-sm" id="radio-file">
                                                  <input autocomplete="off" name="search-method" type="radio" value="filename"> Filename
                                              </label>
                              </div>
                            </div>
                            <div class="col-md-2"></div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <!--<div class="row h-50">-->
                            <!--<p class="font-weight-bold"><a href="https://www.opensubtitles.org/en/newuser" target="_blank">OpenSubtitles</a> login</p>-->
                            <!--<span><i class='fas fa-info-circle' id="info-tooltip"></i></span>-->
                            <!--<input class="form-control form-control-sm mb-2 mr-5" id="os-username" placeholder="Username" type="text">-->
                            <!--<input class="form-control form-control-sm mr-5" id="os-password" placeholder="Password" type="password">-->
                            <!--<div id="test-login">-->
                              <!--<button class="btn btn-primary btn-sm mt-2 mr-2" hidden id="test-login-btn" type="button">Login</button>-->
                              <!--<button class="btn btn-primary btn-sm mt-2 mr-2" hidden id="edit-login-btn" type="button">Edit</button>-->
                              <!--<i class="fas fa-circle-notch fa-spin mt-2" hidden id="test-login-spinner"></i>-->
                              <!--<i class="fa fa-check mt-2" hidden id="test-login-success"></i>-->
                              <!--<div class="mt-2" id="test-login-error-msg"></div>-->
                            <!--</div>-->
                          <!--</div>-->
                          <div class="row h-100 align-items-end">
                            <div class="col-md-12 text-right">
                              <input aria-disabled="true" class="btn btn-success disabled" id="fetch-btn" type="submit" value="Fetch subtitles">
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row" id="tabulator-controls-row">
        <div class="col-md"></div>
        <div class="col-md-10">
          <div class="card ">
            <div class="card-block">
              <div class="row">
                <div class="col-md-4 text-left">
                  <!--Collapse all - Expand all-->
                  <span id="collapse-expand">
                            <span><a href="#" id="expand-all">Expand all</a></span> - <span><a href="#" id="collapse-all">Collapse all</a></span>
                  </span>
                </div>
                <div class="col-md-4">
                  <!--UBoat seek throbber-->
                  <span hidden id="login_error">Please first login to continue</span>
                  <span hidden id="lang_error">Please select at least one language</span>
                  <span hidden id="page_error">Page expired. Please refresh the complete web page to continue (CTRL + F5)</span>
                  <span hidden id="download_error">Possibly your download limit was hit at OpenSubtitles. Try downloading one by one.</span>
                  <span hidden id="seek_status">UBoat is sinking...&emsp;<img id="submarine_img" src="{% static '/sink/img/submarine.svg' %}"></span>
                </div>
                <div class="col-md-4 text-right">
                  <span id="download">
                       <a aria-disabled="true" class="btn btn-success btn-sm disabled" href="#" id="download-selection">Download selection</a>
                       <select disabled id="zip_contents">
                            <option value="sub">as a zip of extracted subtitles</option>
                            <option value="zip">as a zip of original .zip files</option>
                            <option value="gz">as a zip of original .gz files</option>
                       </select>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md"></div>
      </div>
      <div class="row" id="tabulator-row">
        <div class="col-md"></div>
        <div class="col-md-10 text-center">
          <div id="subtitle-table"></div>
          <div id='logs'></div>
        </div>
        <div class="col-md"></div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section class="page-section mb-0" id="about">
    <div class="container">

      <!-- About Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary">About</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- About Section Content -->
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">Use U-Boat to easily download subtitles in batch for your series and movies, by simply selecting the files on your hard disk. Currently only <a href="https://www.opensubtitles.org" target="_blank">OpenSubtitles.org</a> is supported. You will need an account there to use this application.</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">We are still in a beta phase. Some unforeseen issues might pop up. Please let us know if you find bugs or things to improve through the channels in the <a href="#contact">CONTACT</a> section.</p>
        </div>
      </div>

      <!--&lt;!&ndash; About Section Button &ndash;&gt;-->
      <!--<div class="text-center mt-4">-->
        <!--<a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/">-->
          <!--<i class="fas fa-download mr-2"></i>-->
          <!--Free Download!-->
        <!--</a>-->
      <!--</div>-->

    </div>
  </section>

    <!-- Portfolio Section -->
  <section class="page-section portfolio bg-primary text-white" id="portfolio">
    <div class="container">

      <!-- Portfolio Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase mb-0">Credits</h2>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

            <!--&lt;!&ndash; About Section Content &ndash;&gt;-->
      <!--<div class="row">-->
        <!--<div class="col-lg-4 ml-auto">-->
          <!--<p class="lead"></p>-->
        <!--</div>-->
        <!--<div class="col-lg-4 mr-auto">-->
          <!--<p class="lead">This website would not exist without the use of some great open source libraries. Have a look.</p>-->
        <!--</div>-->
        <!--<div class="col-lg-4 mr-auto">-->
          <!--<p class="lead"></p>-->
        <!--</div>-->
      <!--</div>-->

      <!-- Portfolio Grid Items -->
      <div class="row">
        <!-- Portfolio Item 1 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto text-center" data-target="#portfolioModal1" data-toggle="modal">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i alt="" class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img alt="Tabulator" class="img-fluid" src="{% static '/sink/img/tabulator.png' %}">
            <h2>Tabulator</h2>
          </div>
        </div>

        <!-- Portfolio Item 2 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto text-center" data-target="#portfolioModal2" data-toggle="modal">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img alt="" class="img-fluid" src="{% static '/sink/img/freelancer.png' %}">
            <h3>Freelancer Template</h3>
          </div>
        </div>

        <!-- Portfolio Item 3 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto text-center" data-target="#portfolioModal3" data-toggle="modal">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img alt="" class="img-fluid" src="{% static '/sink/img/zip.png' %}">
            <h2>Zip.js</h2>
          </div>
        </div>

        <!-- Portfolio Item 4 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto text-center" data-target="#portfolioModal4" data-toggle="modal">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img alt="" class="img-fluid" src="{% static '/sink/img/python-opensubtitles.png' %}">
            <h3>python-opensubtitles</h3>
          </div>
        </div>

        <!-- Portfolio Item 5 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto text-center" data-target="#portfolioModal5" data-toggle="modal">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img alt="" class="img-fluid" src="{% static '/sink/img/tippy.png' %}">
            <h2>Tippy.js</h2>
          </div>
        </div>

        <!-- Portfolio Item 6 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto text-center" data-target="#portfolioModal6" data-toggle="modal">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img alt="" class="img-fluid" src="{% static '/sink/img/multiselect.png' %}">
            <h2>Multiselect</h2>
          </div>
        </div>

        <!-- Portfolio Item 7 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto text-center" data-target="#portfolioModal7" data-toggle="modal">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <!--<img alt="" class="img-fluid" src="{% static '/sink/img/popper.png' %}">-->
          </div>
        </div>

        <!-- Portfolio Item 8 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto text-center" data-target="#portfolioModal8" data-toggle="modal">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img alt="" class="img-fluid" src="{% static '/sink/img/popper.png' %}">
            <h2>Popper.js</h2>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
  </section>

  <!-- Contact Section -->
  <!--<section class="page-section" id="contact">-->
    <!--<div class="container">-->

      <!--&lt;!&ndash; Contact Section Heading &ndash;&gt;-->
      <!--<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact</h2>-->

      <!--&lt;!&ndash; Icon Divider &ndash;&gt;-->
      <!--<div class="divider-custom">-->
        <!--<div class="divider-custom-line"></div>-->
        <!--<div class="divider-custom-icon">-->
          <!--<i class="fas fa-star"></i>-->
        <!--</div>-->
        <!--<div class="divider-custom-line"></div>-->
      <!--</div>-->

      <!--&lt;!&ndash; Contact Section Form &ndash;&gt;-->
      <!--<div class="row">-->
        <!--<div class="col-lg-8 mx-auto">-->
          <!--&lt;!&ndash; To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. &ndash;&gt;-->
          <!--<form id="contactForm" name="sentMessage" novalidate="novalidate">-->
            <!--<div class="control-group">-->
              <!--<div class="form-group floating-label-form-group controls mb-0 pb-2">-->
                <!--<label>Name</label>-->
                <!--<input class="form-control" data-validation-required-message="Please enter your name." id="name" placeholder="Name" required="required" type="text">-->
                <!--<p class="help-block text-danger"></p>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="control-group">-->
              <!--<div class="form-group floating-label-form-group controls mb-0 pb-2">-->
                <!--<label>Email Address</label>-->
                <!--<input class="form-control" data-validation-required-message="Please enter your email address." id="email" placeholder="Email Address" required="required" type="email">-->
                <!--<p class="help-block text-danger"></p>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="control-group">-->
              <!--<div class="form-group floating-label-form-group controls mb-0 pb-2">-->
                <!--<label>Phone Number</label>-->
                <!--<input class="form-control" data-validation-required-message="Please enter your phone number." id="phone" placeholder="Phone Number" required="required" type="tel">-->
                <!--<p class="help-block text-danger"></p>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="control-group">-->
              <!--<div class="form-group floating-label-form-group controls mb-0 pb-2">-->
                <!--<label>Message</label>-->
                <!--<textarea class="form-control" data-validation-required-message="Please enter a message." id="message" placeholder="Message" required="required" rows="5"></textarea>-->
                <!--<p class="help-block text-danger"></p>-->
              <!--</div>-->
            <!--</div>-->
            <!--<br>-->
            <!--<div id="success"></div>-->
            <!--<div class="form-group">-->
              <!--<button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Send</button>-->
            <!--</div>-->
          <!--</form>-->
        <!--</div>-->
      <!--</div>-->

    <!--</div>-->
  <!--</section>-->

  <!-- Footer -->
  <footer class="footer text-center" id="contact">
    <div class="container">
      <div class="row">

        <!--&lt;!&ndash; Footer Location &ndash;&gt;-->
        <!--<div class="col-lg-4 mb-5 mb-lg-0">-->
          <!--<h4 class="text-uppercase mb-4">Location</h4>-->
          <!--<p class="lead mb-0">2215 John Daniel Drive-->
            <!--<br>Clark, MO 65243</p>-->
        <!--</div>-->

        <!-- Footer Social Icons -->
        <div class="col-lg-12 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Contact</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/UBoat_io" target="_blank">
            <i class="fab fa-fw fa-twitter"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/U-Boatio-101849291333546" target="_blank">
            <i class="fab fa-fw fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="mailto:support@u-boat.io">
            <i class="far fa-fw fa-envelope"></i>
          </a>
        </div>

        <!--&lt;!&ndash; Footer About Text &ndash;&gt;-->
        <!--<div class="col-lg-4">-->
          <!--<h4 class="text-uppercase mb-4">About Freelancer</h4>-->
          <!--<p class="lead mb-0">Freelance is a free to use, MIT licensed Bootstrap theme created by-->
            <!--<a href="http://startbootstrap.com">Start Bootstrap</a>.</p>-->
        <!--</div>-->

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; U-Boat 2019</small></br>
      <small><a target="_blank" href="{% static '/sink/img/submarine-icon-4.png' %}">Submarine</a> favicon by <a target="_blank" href="https://icons8.com">Icons8</a></small></br>
      <small>Logo font by <a target="_blank" href="http://typodermicfonts.com/">Typodermic Fonts</a></small>
    </div>
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Portfolio Modals -->

  <!-- Portfolio Modal 1 -->
  <div aria-hidden="true" aria-labelledby="portfolioModal1Label" class="portfolio-modal modal fade" id="portfolioModal1" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Tabulator</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <!-- Portfolio Modal - Text -->
                <a href="http://tabulator.info/" target="_blank">Visit website</a>
                <pre class="mb-5 text-left">
The MIT License (MIT)

Copyright (c) 2015-2019 Oli Folkerd

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
                </pre>
                <button class="btn btn-primary" data-dismiss="modal" href="#">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 2 -->
  <div aria-hidden="true" aria-labelledby="portfolioModal2Label" class="portfolio-modal modal fade" id="portfolioModal2" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Freelancer</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <!-- Portfolio Modal - Text -->
                <a href="https://startbootstrap.com/previews/freelancer/" target="_blank">Visit website</a>
                <pre class="mb-5 text-left">
The MIT License (MIT)

Copyright (c) 2013-2019 Blackrock Digital LLC

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
                </pre>
                <button class="btn btn-primary" data-dismiss="modal" href="#">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 3 -->
  <div aria-hidden="true" aria-labelledby="portfolioModal3Label" class="portfolio-modal modal fade" id="portfolioModal3" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Zip.js</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <!-- Portfolio Modal - Text -->
                <a href="http://gildas-lormeau.github.io/zip.js/" target="_blank">Visit website</a>
                <pre class="mb-5 text-left">

 Copyright (c) 2013 Gildas Lormeau. All rights reserved.

 Redistribution and use in source and binary forms, with or without
 modification, are permitted provided that the following conditions are met:

 1. Redistributions of source code must retain the above copyright notice,
 this list of conditions and the following disclaimer.

 2. Redistributions in binary form must reproduce the above copyright
 notice, this list of conditions and the following disclaimer in
 the documentation and/or other materials provided with the distribution.

 3. The names of the authors may not be used to endorse or promote products
 derived from this software without specific prior written permission.

 THIS SOFTWARE IS PROVIDED ``AS IS'' AND ANY EXPRESSED OR IMPLIED WARRANTIES,
 INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
 FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL JCRAFT,
 INC. OR ANY CONTRIBUTORS TO THIS SOFTWARE BE LIABLE FOR ANY DIRECT, INDIRECT,
 INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA,
 OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
 LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
 NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE,
 EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
                </pre>
                <button class="btn btn-primary" data-dismiss="modal" href="#">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 4 -->
  <div aria-hidden="true" aria-labelledby="portfolioModal4Label" class="portfolio-modal modal fade" id="portfolioModal4" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">python-opensubtitles</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <!-- Portfolio Modal - Text -->
                <a href="https://github.com/agonzalezro/python-opensubtitles" target="_blank">Visit website</a>
                <pre class="mb-5 text-left">

Copyright (c) 2015, Alexandre González Rodríguez

Permission to use, copy, modify, and/or distribute this software for any
purpose with or without fee is hereby granted, provided that the above
copyright notice and this permission notice appear in all copies.

THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
                </pre>
                <button class="btn btn-primary" data-dismiss="modal" href="#">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 5 -->
  <div aria-hidden="true" aria-labelledby="portfolioModal5Label" class="portfolio-modal modal fade" id="portfolioModal5" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Tippy.js</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <!-- Portfolio Modal - Text -->
                <a href="https://atomiks.github.io/tippyjs/" target="_blank">Visit website</a>
                <pre class="mb-5 text-left">
MIT License

Copyright (c) 2017-present atomiks

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
                </pre>
                <button class="btn btn-primary" data-dismiss="modal" href="#">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 6 -->
  <div aria-hidden="true" aria-labelledby="portfolioModal6Label" class="portfolio-modal modal fade" id="portfolioModal6" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Multiselect</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <!-- Portfolio Modal - Text -->
                <a href="http://loudev.com" target="_blank">Visit website</a>
                <pre class="mb-5 text-left">
Copyright (c) 2015 Louis CUNY


Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:


The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.


THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.  IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
                </pre>
                <button class="btn btn-primary" data-dismiss="modal" href="#">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 8 -->
  <div aria-hidden="true" aria-labelledby="portfolioModal6Label" class="portfolio-modal modal fade" id="portfolioModal8" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Popper.js</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <!-- Portfolio Modal - Text -->
                <a href="https://popper.js.org/" target="_blank">Visit website</a>
                <pre class="mb-5 text-left">

Copyright © 2016 Federico Zivolo and contributors

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the “Software”), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
                </pre>
                <button class="btn btn-primary" data-dismiss="modal" href="#">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>